label.required::after {
    content: "*";
    color: red;
}

.field .field {
  flex-basis: 0;
  overflow: auto;
}



.with-big-icon {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-big-icon img {
  height: 4rem;
  margin: 0 1rem;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
  padding: 1rem;
}