:root {
    /*
    --bs-primary: #6dc9f7;
    --bs-primary-rgb: 109,201,247;
    */
    --bs-primary: #0089ef;
    --bs-primary-rgb: 0,137,239;
    --bs-secondary: #fa759e;
    --bs-secondary-rgb: 250,117,158;
}